<a href="https://colab.research.google.com/github/feonasanofer/CE880/blob/main/week2/problem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [1]:
NAME = "Feona Sanofer Dhason"
COLLABORATORS = "2111097"

---

---
# Welcome to CE880
### This is your week-2 : Problem 1 notebook

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

---
## Question 1:

Write a function to pass a list of numbers and return log2 of the array. 
`Hint`: take input as list and inside the function covert it into numpy array then perform the function. `Example` : input `[1, 4, 8]` and and output should be:  `[0, 2, 3]`

In [2]:
from IPython.core.display import Math
import numpy as np
def myLog(mylist):
    """Write a function to pass a list of numbers and return log2 of the array. """
    
    return np.log2(mylist)
    raise NotImplementedError()

In [3]:
in_array = [1, 4, 8]
myLog(in_array)

array([0., 2., 3.])

In [4]:
"""Check your output"""
# Test case 1
in_array = [1, 3, 5, 10**8]
mynplist = np.array([0, 1.5849625, 2.32192809 , 26.57542476])
np.allclose(myLog(in_array), mynplist)

# Test case 2
in_array = in_array = [1, 100, 1000]
mynplist = np.array([0., 6.64385619, 9.96578428])
np.allclose(myLog(in_array), mynplist)

True

---

## Question 2:

The Fibonacci numbers are the numbers in the following integer sequence.
`[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...]`
In mathematical terms, the sequence $F_n$ of Fibonacci numbers is defined by the recurrence relation 
$$
F_n = F_n-1 + F_n-2
$$
with seed values  
$$
 F_0 = 0 \& F_1 = 1.
$$
Your task here is to write a code for printing $n^{th}$ Fibonacci number
`Example`: Input: `myfibonacci(9)` and Output should be `34`

In [5]:
def myfibonacci(n):
    """Function for nth Fibonacci number"""
    
    if (n <= 0) : 
        return 0
    
    fib = [0] *(n+1)

    if (n ==1):
      return 1  
    fib[1] = 1
    
    # Add remaining terms 
    for j in range(2,n+1) : 
        fib[j] = fib[j-1] + fib[j-2]  
           
    return fib[j]
        
    raise NotImplementedError()

In [6]:
myfibonacci(9)

34

In [7]:
"""Check that correct fibonacci number"""
assert myfibonacci(9) == 34
assert myfibonacci(7) == 13
assert myfibonacci(1) == 1
assert myfibonacci(0) == 0

---
## Question 3: 

 Write a program, which accept 2D array with `nan` and replace all `nan` with `-5`.

In [8]:
import numpy as no
def rem_Nan(A):
    """Write a program, which accept 2D array with nan and replace all nan with -10"""
    

    out=np.where(np.isnan(A),-5,A)
    return out 
    raise NotImplementedError()

In [9]:
arr1 = np.array([[1,2,3],[3,np.nan,3]])
arr2 = np.array([[1,2,3],[3,-5,3]])

assert np.allclose(rem_Nan(arr1), arr2)

In [10]:
"""Check your output"""
# Test Case 1
arr1 = np.array([[1,5,3],[3,np.nan,3]])
arr2 = np.array([[1,5,3],[3,-5,3]])
assert np.allclose(rem_Nan(arr1), arr2)

# Test Case 2
arr3 = np.array([[np.nan,2,np.nan],[3,np.nan,3]])
arr4 = np.array([[-5,2,-5],[3,-5,3]])
assert np.allclose(rem_Nan(arr3), arr4)

## Pandas Data Frame

In [11]:
# Please make sure if pandas is installed and if not then run the this cell otherwise skip
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

#### Let's create a Toy Data for rest of the 3 questions

In [12]:
import numpy as np
import pandas as pd
exam_data  = {'name': ['Adam', 'Jo', 'Jack', 'Hugo', 'Amit', 'Messi', 'Jordan', 'Laura', 'Kevin', 'Jonas'],
        'score': [72.5, 59, 66.5, np.nan, 59, 80, 84.5, np.nan, 82, 49],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df

     name  score  attempts qualify
a    Adam   72.5         1     yes
b      Jo   59.0         3      no
c    Jack   66.5         2     yes
d    Hugo    NaN         3      no
e    Amit   59.0         2      no
f   Messi   80.0         3     yes
g  Jordan   84.5         1     yes
h   Laura    NaN         1      no
i   Kevin   82.0         2      no
j   Jonas   49.0         1     yes

---
## Question 4:

Write a Pandas program to display students names, where number of attempts in the examination is greater than 2 and score less than 80.

In [13]:
def filter_1():
    """Write a Pandas program to display students names, where number of attempts 
    in the examination is greater than 2 and score less than 80."""
    
    b=df[(df.attempts > 2) & (df.score < 80)]
    c = list (b.name)
    print (c)
    return c 
    raise NotImplementedError()

In [14]:
"""Check your output"""
assert filter_1() == ['Jo']

['Jo']

## Question 5

Write a Pandas program to display the average score. `Hint`: Please replace `NaN` values with `0` before calcualting average.

In [15]:
import itertools
def score():
    """Write a Python program to calculate average score and replace NaN values by 0"""
   
    df['score']=df['score'].replace(np.nan,0)
    a = df['score'].mean()
    print (a)
    return a
    
    
    raise NotImplementedError()

In [16]:
"""Check your output"""
assert score() == 55.250000

55.25

---
## Question 6:


Write a function to calculate the `mean` and `standard deviation` of the examination `attempts`. `Hint`: You can use NumPy aggregate functions and return as a values. Create a list and append value to it and return the output.

In [17]:
def stats():
    """Write a Pandas program to calculate `mean` and `standard deviation` of the examination
    attempts by the students."""
    
    lst=[]
    a = df['attempts'].mean()
    b = df['attempts'].std()
    out = lst + [a,b]
    return out
    raise NotImplementedError()

In [18]:
"""Check your output"""
# Test case
output = np.array([1.9, 0.8755950357709131])
np.allclose(stats(), output)

True